#root {
  max-width: 100%;
  height: auto  ;
  margin: 0 auto;
  padding: 2rem;
  background-color: ivory;
  color: black;
}

h1{
  color: orange;
  font-family: "Times New Roman", serif;
  text-align: center;
}

table{
  border: #1a1a1a 2px solid;
}
th, td{
  border: #1a1a1a 2px solid;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
